* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #logo {
    width: 200px;
  }
  input {
    margin-bottom: 20px;
  }
}

.barre {
  width: 1000px;
  border: 1px solid #36373a;
  margin-bottom: 20px;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.results-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.bcg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  border: 2px solid darkgray;
  width: 800px;
  height: 900px;
  display: none;
  position: relative;
}

#close-button {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
