<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test server</title>
  </head>
  <body>
    <h1>television</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus corporis
      laudantium ipsa debitis dignissimos saepe ullam necessitatibus unde. Eos
      atque vitae sapiente! Magni sit adipisci consequatur. Eum doloribus ullam
      odio!
    </p>
  </body>
</html>
