.main{
    padding: 100px 0px 0px 124px;
    .deco-rond{
        transform: translateX(-43px);
    }
    .texte{
        max-width: 503px;
        min-height: 325px;
        transform: translateY(-107px);
        h1{
            color: #FFFFFF;
            font-size: 64px;
            line-height: 76.8px;
            letter-spacing: 4.5%;
            font-weight: 300;
            padding-bottom: 20px;
        }
        .sous-titre{
            color: #E8AB36;
            font-size: 32px;
            font-weight: 400;
            line-height: 38.4px;
            letter-spacing: 4.5%;
            padding-bottom: 20px;
        }
        .texte-awesome{
            color: #EFEFEF;
            font-size: 16px;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 4.5%;
            padding-bottom: 40px;
        }
        .btn1{
            background-color: $rose;
            color: white;
            padding: 13PX 30px;
            border-radius: 75px;
            font-weight: 500;
            line-height: 16.8px;
            letter-spacing: 4.5%;
            
            &:hover{
                color: black;
            }
        }
        .btn2{
            background-color: #EFEFEF;
            color: black;
            margin-left: 24px;
            padding: 13PX 30px;
            border-radius: 75px;
            font-weight: 500;
            line-height: 16.8px;
            letter-spacing: 4.5%;

            &:hover{
                color: $rose;
            }
        }

    }
    .point-carre{
        transform: translate(290px, -200px);
        img{
            max-width: 184px;
            height: 181px;
            object-fit: cover;
        }
    }
    .vague{
        max-width: 730px;
        height: 748px;
        margin-left: auto;
        transform: translate( 115px, -960px);
    }
}