body, html {
    margin: 0;
    padding: 0;
    height: 200vh;
    overflow: hidden;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    
}